app-footer {
  margin-top: auto;

  footer {
    margin: 0;
    background: var(--card-background-color);
    border-top: 1px solid var(--card-border-color);
    text-align: center;
  }

  p {
    margin: 0;
  }
}
